body{
  background-image:url("http://allswalls.com/images/blue-paper-wallpaper-1.jpg")
}
img{
  width: 350px;
  height:350px;
}
/*this is formated for full screen browser */

h2 {
  color: white;
  text-shadow: 2px 2px 8px red;
  text-align: center;
}

h1 {
  color: white;
  font-family: Comic, sans-serif;
  text-shadow: 3px 3px 8px red;
  color: white;
  text-align: center;
}

a {
  color: white;
  font-family: Comic, sans-serif;
  text-shadow: 2px 2px 6px red;
  color: white;
}
.links{
  text-align: center;
  margin-bottom: 50px
}
.home{
  margin-right: 30px
}
.match{
  margin-left: 30px
}
/*this doesnt come up for every entry*/
