div {
  /*height: 100%;
  width:100%;*/
}
h1 {
  color: white;
  text-align: center;
  font-family: Comic, sans-serif;
  text-shadow: 2px 2px 8px red;
  margin-bottom: 50px

  /*text-shadow: 3px 3px #000000;*/
}
h2{
  color: pink;
  text-align: center;
}

body{
background-image:url("http://allswalls.com/images/blue-paper-wallpaper-1.jpg")
}
p {
  color: white;
  text-decoration: none;
}
a {
  color: white;
  font-family: Comic, sans-serif;
  text-shadow: 2px 2px 6px red;
  color: white;

}
.home{
  font-size: 20px;
  margin-right: 30px;

}
.links{
  text-align: center;
  margin-bottom: 50px
