body {
  background-image: url("http://allswalls.com/images/blue-paper-wallpaper-1.jpg");
}

h1 {
  color: white
}

div.room {
    position: relative;
    right: 350px;
  }

.button {
    display: inline-block;
    border-radius: 12px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
    top: 175px;
    left: 170px;

  }

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.button:hover span {
    padding-right: 25px;
  }

.button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .header1 {
    text-shadow: 2px 2px 8px red;
    position: relative;
    top: -350px;
    left: 250px;
    color: white;
  }
  .header2 {
    text-shadow: 2px 2px 8px red;
    position: relative;
    top: -390px;
    left: 250px;
    color: white
  }
  .dropdown {
    
  }
