h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 8px red;
  font-family: Comic, sans-serif;
  /*text-shadow: 4px 2px #000000;*/
}
body{
  background-image:url("http://allswalls.com/images/blue-paper-wallpaper-1.jpg")
}
li {
  font-size: 35px;
  color: white;
  /*text-shadow: 4px 2px #000000;*/
  margin-bottom: 60px;

}
