h1 {
  font-size: 50px;
  color: purple;
  text-align: center;
  text-shadow: 4px 2px #000000;
}
body{
  background-image:url("http://ovaroc.com/f/2017/06/best-design-fantastic-desks-for-teenage-bedrooms-large-glass-window-bedside-table-also-gray-flooring-cool-teenage-bedrooms-desks-for-teenage-bedrooms-bedroom-for-teenager-teenager-bedroom-cozy-ideas-2017.jpg")
}
li {
  font-size: 35px;
  color: white;
  text-shadow: 4px 2px #000000;
  margin-bottom: 60px;

}
