<html>
  <head>
    <link rel="stylesheet" href="/resources/gallery.css"></link>
  </head>
  <body>
    <h1><center> Your Gallery <center></h1>
      {%for x in range(1,length)%}

        <p> Room Set {{x}} </p>
        {% if saved_sets[x].style %}
        <img src="/resources/{{saved_sets[x].style}}">
        {%endif%}
        {% if saved_sets[x].gender %}
        <img src="/resources/{{saved_sets[x].gender}}">
        {%endif%}
        {% if saved_sets[x].color %}
        <img src="/resources/{{saved_sets[x].color}}">
        {%endif%}
        {% if saved_sets[x].extras %}
        <img src="/resources/{{saved_sets[x].extras}}">
        {%endif%}



        <h2> Room Set {{x}} </h2>
      <img src="/resources/{{saved_sets[x].style}}"><img src="/resources/{{saved_sets[x].gender}}"><img src="/resources/{{saved_sets[x].color}}"><img src="/resources/{{saved_sets[x].extras}}">
      {%endfor%}
    <div class="boxed">
    </br>
    </br>
    <a href="/">Home Page</a>
      </br>
    <a href="/match">Match Page</a>
    </div>
  </body>
</html>
