<html>
  <head>
    <link rel="stylesheet" href="/resources/gallery.css"></link>
  </head>
  <body>
    <h1> Your Gallery </h1>
      {%for x in range(1,length)%}
        <p> Room Set {{x}} </p>
        {% if (style == none) %}
          <img src="/resources/{{saved_sets[x].gender}}"><img src="/resources/{{saved_sets[x].color}}"><img src="/resources/{{saved_sets[x].extras}}"><p>No Style Selected</p>
        {% elif (gender == none) %}
          <img src="/resources/{{saved_sets[x].style}}"><img src="/resources/{{saved_sets[x].color}}"><img src="/resources/{{saved_sets[x].extras}}"><p>No Gender Selected</p>
        {% elif (color == none) %}
          <img src="/resources/{{saved_sets[x].style}}"><img src="/resources/{{saved_sets[x].gender}}"><img src="/resources/{{saved_sets[x].extras}}"><p>No Color Selected</p>
        {% elif (extras == none) %}
          <img src="/resources/{{saved_sets[x].style}}"><img src="/resources/{{saved_sets[x].gender}}"><img src="/resources/{{saved_sets[x].color}}"><p>No Extras Selected</p>
        {% elif (style and gender and color and extras != none) %}
          <img src="/resources/{{saved_sets[x].style}}"><img src="/resources/{{saved_sets[x].gender}}"><img src="/resources/{{saved_sets[x].color}}"><img src="/resources/{{saved_sets[x].extras}}">
        {% endif %}
      {%endfor%}
    <div class="boxed">
    </br>
    </br> 
    <a href="/">Home Page</a>
      </br>
    <a href="/match">Match Page</a>
    </div>
  </body>
</html>
