<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Helpful Links</title>
    <link rel="stylesheet" href="/resources/link.css"></link>
    <script src="/resources/link.js"></script>
  </head>
  <body>
    <div>
      <h1> Helpful Links! </h1>
      <h2>
        <ul>
          <li> <a href=https://www.pinterest.com/search/pins/?rs=ac&len=2&q=dorm%20room%20ideas&eq=dorm&etslf=3481&term_meta[]=dorm%7Cautocomplete%7Cundefined&term_meta[]=room%7Cautocomplete%7Cundefined&term_meta[]=ideas%7Cautocomplete%7Cundefined>Pintrest</a>
          <li> <a href=https://www.dormify.com/?gclid=Cj0KCQjwh_bLBRDeARIsAH4ZYEPj1_egrarhDhIBrg0wdDMF4ZJ_HNju-RPiNKEpbSeZsS_hz4Hv1lEaArj9EALw_wcB>Dormify</a>
          <li> <a href=https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=dorm>Amazon</a>
          <li> <a href=https://www.target.com/c/back-to-college/-/N-5q0g0#?lnk=snav_rd_backToCollege&orginalSearchTerm=backToCollege>Target</a>
          <li> <a href=https://www.walmart.com/cp/college-dorm-living/1225229?search_redirect=true&redirect_query=dorm>Walmart</a>
          <li> <a href=http://www.jcpenney.com/g/dorm-bedding-decor/N-bwo3vDgk6mbq?redirectTerm=dorm>JC Penny</a>
          <li> <a href=https://www.bedbathandbeyond.com/store/?mcid=PS_google_brand_brand_&adpos=1t1&creative=116839273358&device=c&matchtype=e&network=g&gclid=CjwKEAjwh_bLBRDehaSMyJSCj1gSJAB-GWBDqvEYKkWdhXqETdoxt1tMUC4P26X-RlbymjF5_1JelhoC-Hrw_wcB>Bed Bath and Beyond</a>
          <li> <a href=https://www.pbteen.com/?Kenshoo=0ed0c011-73d2-433e-951b-4ca35f6ad01f&cm_ven=BrandSearch&cm_cat=Google&cm_pla=Brand_Search_Exact&cm_ite=pb%20teen>PB Teen</a>
        </ul>
      </h2>
  </div>
