
  <html>
      <head>
        <link rel="stylesheet" href="/resources/mainpage.css">
      </head>
        <title> DC DormCreator </title>
      <body>
        <h1 class='welcome'><center>WELCOME TO DORM CREATOR!<center><h1>
          <div class="room">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/b2/d9/1d/b2d91dfda0c93d3c3dbbed3927c869c3.png"/>
          <form action="/login">
            <button class="button" style="vertical-align:center"><span>Login</span></button>
          </form>
          <!-- margin-left: 121px;
    margin-top: 1px; -->
        </div>

        <h1 class='header1'> Move-in Day 2017<h1>
          <h3 class='header2'>Design your dorm room today<h3>
            <div class="boxed">
              <a class="link1" href="/link"> Helpful Links </a> <a href="/Use"> Useful Items </a> <a href="/gallery"> Gallery </a>
            </div>
          </body>
  </html>
