<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/resources/matchpage.css"/>
  <script src="resources/matchpage.js"></script>
<body>

<h1>

<form>

  <select name="Gender" class='gender'>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>

<select name="Color" class='color'>
  <option value="Red">Red</option>
  <option value="Blue">Blue</option>
  <option value="Gray">Gray</option>
</select>

<select name="Style" class='style'>
  <option value="Modern">Modern</option>
  <option value="Sports">Sports</option>
  <option value="Bohemian">Bohemian</option>
</select>



<form action="http://localhost:13080/">
  <button id = "submit_button" type="button">Submit</button>
</form>

</div>

</body>
</html>
