<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/resources/matchpage.css"/>
  <script src="resources/matchpage.js"></script>
<body>


<h1><center>CREATE YOUR ROOM!<center><h1>

<form>

  <select name="Gender" class='gender'>
    <option value="">Gender</option>
    <option value="Male Sheets.jpeg">Male</option>
    <option value="Female">Female</option>
  </select>

<select name="Color" class='color'>
  <option value="">Color</option>
  <option value="Red Comforter.jpeg">Red</option>
  <option value="Blue">Blue</option>
  <option value="Gray">Gray</option>
</select>

<select name="Style" class='style'>
  <option value="">Style</option>
  <option value="Modern">Modern</option>
  <option value="Sports">Sports</option>
  <option value="Bohemian">Bohemian</option>
</select>

<input class="submit" type="submit" value="Submit">

</form>
{%if(color)%}
<h1> <img src = "/resources/{{ color }}" > </h1>

{%endif%}
{%if(gender)%}
<h1> <img src = "/resources/{{ gender }}" > </h1>
{%endif%}
{%if(style)%}
<h1> <img src = "/resources/{{ style }}" > </h1>
{%endif%}

</body>
</html>
