<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Useful Items</title>
    <link rel="stylesheet" href="/resources/UsefulItems.css"></link>
    <script src="/resources/UsefulItems.js"></script>
  </head>
  <body>
    <div>
      <h1> Useful Items to Consider! </h1>
      <ul>
        <li> Flexible Extension Cords </li>
        <li> Tapestries </li>
        <li> Full Body Mirror </li>
        <li> Shower Caddy </li>
        <li> Drawer Liners </li>
        <li> Trunk </li>
        <li> Lamp </li>
        <li> Decorative Pillows </li>
        <li> Refrigerator </li>
        <li> Storage Containers </li>
      </ul>
    </div>
  </body>
</hml>
